@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --default-font-size: 16px;
  --default-line-height: 1.5;
  --color-background: #f3f3f3;
  --color-foreground: #111827;
  --color-foreground-muted: #1f2937;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-primary-light: #eef2ff;
  --color-secondary: #f3f4f6;
  --color-secondary-hover: #e5e7eb;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-stroke: #d1d2d5;
  --color-ring: #e5e7eb;
}

@layer base {
  body {
    font-size: var(--default-font-size);
    font-optical-sizing: auto;
    line-height: var(--default-line-height);
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}

.container {
  @apply mx-auto max-w-7xl px-5;
}
